*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: arial, serif;
}
nav{
	background: white;
	height: 80px;
	width: 100%;
}
label.logo{
	color: #CC9900;
	font-size: 35px;
	line-height: 80px;
	padding: 0 30px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 20px;
}
nav ul li a {
	color: black;
	font-size: 17px;
	padding: 10px 20px;
	border-radius: 3px;
}
a.active,a:hover {
	background: #408CB2;
	transition: 1s;

}
img{
height: 200px;
width: 100%;
padding-bottom: 25px;
}
h4 {
	color: #408CB2;
	text-align: center;
	font-size: 2.3em;
	padding: 20px;
	font-family: sans-serif;
}
.jolie{
	text-align: center;
	color: silver;
}

.conteneur{
	display: flex;
	justify-content: center;
}
.carte{
	background: white;
	height: 400px;

	width: 220px;
	margin: 30px;
}
button {
	border-radius: 10px 10px;
	background: #408CB2;
	width: 100px;
	height: 50px;
	margin: 20px 55px;
	text-align: center;
}

a.lien{
	font-size: medium;
	color: white;
	font-weight: bold;
}
a.jolie{
	font-weight: bold;
	color: white;
}
.large:hover{
width: 150px;
height: 50;
margin: 20px 30px;
background: goldenrod;

}
p.reste{
text-align: justify;
padding: 10px;
color: silver;
}
h3{
	color: #408CB2;
	margin: 6px 6px;
	text-align: center;
}
h3.bien{
	color: #408CB2;
	margin: 10px;
	padding-top: 70px;
	text-align: left;
}

img.amg{
	padding-top: 30px;
	width: 500px;
	height: 300px;
}

/* CONTENEUR2*/
.petit_conteneur{
	display: flex;
}

.type{	
	width: 500px;
	height: 250px;
}
.souris{
	color: silver;
}

.burger{
	margin: 30px;
	margin-left: 90px;
}
.souligne a.zo{
	text-decoration: underline;
	color: #CC9900;
}
a.zo:hover {
	background: green;
	transition: 5s;
}
a.kiss {
	color: white;
	font-weight: bold;
}
.btn:hover{
	background: green;
}

.contain{
	display: flex;
	justify-content: center;
	margin-left: 600px;
}
.pti_contain{
	margin: 40px;
}
.para{
	padding-left: 40px;
	color: silver;
}
.trait{
	width: 200px;
	margin-left: 55px ;
}

.fond{
	background: yellow;
height: 400px;
margin-top: 100px;
}

/*FOOTER */
.fond{
    background:black;
    height: 600px;
    margin-top: 50px;
  }
  .conteneur5{
    display: flex;
    justify-content: center;
  }
  .carte5{
    margin-top: 100px;
    margin: 10px;
    height: 500px;
    background: silver;
    width: 300px;
    
  }
  .carte5d{
    margin-top: 100px;
    margin: 10px;
    width: 300px;
  }
  .carte5i{
    margin-top: 100px;
    margin: 10px;
   
 
    width: 300px;
    
  }
  .s{
    color: #408CB2;
    text-align: center;
    margin-bottom: 20px;
   
  }
  .z{
   margin:  10px;
   color: black;
  }
  .bas{
    font-weight: bolder;
    margin: 10px;
  }
 .carte5c{
    margin-top: 100px;
    margin: 10px;

    
    width: 300px;
    
  }
  .sil{
    color: silver;
  }
  .b{
    margin-top: 10px;
    color: #408CB2;
  }
  .chat{
    height: 80px;
    width: 60px;
   margin-top: 80px;
   margin-left: 170px;
  }
  .lo{
    height: 80px;
    width: 60px;
    margin-left: 200px;
    margin-top: 1px;
  }
.ollu{
  height: 100px;
  width: 80px;
  position: relative;
  left: 100px;
  bottom: 100px;
}
.arbre{
  height: 120px;
  width: 90px;
  position: relative;
  left: 160px;
  bottom: 120px;

}
.ibtns{
	background:#408CB2;
  height: 40px;
  width: 100px;
  border-radius: 10px 10px;
	text-align: center;
	font-weight: bold;
	color: aliceblue;
	margin-left: 140px;
	position: relative;
	bottom: 110px;
	}